{% extends "base.html.twig" %}

{% block title %}
    Accueil
{% endblock %}

{% block body %}

        <h1 class="page-header">Ne perdez plus vos liens</h1>

        <p class="lead">
            Grâce à LinksSite, conservez vos liens simplement et retrouvez les rapidement.
        </p>
        <a class="btn btn-primary btn-lg" href="" alt="Inscrivez-vous" title="Inscription">Inscrivez-vous</a>
        <a class="btn btn-success btn-lg" href="" alt="Connectez-vous" title="Connexion">Connectez-vous</a>

        <!-- Affichage du message flash -->
        {% for flash_message in app.session.flashBag.get('notice') %}
            <p>
                {{ flash_message }}
            </p>
        {% endfor %}

        <h2 class="page-header">Liens de la communauté</h2>

        <div class="row">
            {% for link in links %}
                <div class="col-xs-12 col-md-4">
                    <a class="link-url" href="{{ link.url }}">
                    <div class="link-container">
                        <h4>{{ link.title }}</h4>
                        <p><em>{{ link.description }}</em></p>
                        <p>Ajouté le <time>{{ link.date|date('d/m/Y') }}</time></p>
                        <ul>
                            {% for tag in link.tags %}
                                <li><a href="{{ path('home') }}?tag={{ tag.name }}">{{ tag.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    </a>
                </div>
            {% endfor %}
        </div>

{% endblock %}