{% extends "base.html.twig" %}

{% block title %}
Vos liens - {{parent()}}
{% endblock %}

{% block body %}

	<div class="jumbotron">
		<h1>Vos liens</h1>
		<p>Les liens que vous avez ajoutés se trouvent sur cette page.</p>
	</div>

{# Cette page n'est visible que pour le membre actif. #}
{# Ici seront affichés tous les liens du membre. #}

    <table class="table table-responsive">
        <thead>
            <th>Lien</th>
            <th>Description</th>
            <th>Date d'ajout</th>
            <th>Action</th>
        </thead>

        <tbody>
	{% for link in links %}
            <tr>
                <td><a href="{{ link.url }}">{{ link.title }}</a></td>
                <td>{{ link.description }}</td>
                <td>Le {{ link.date | date('d/m/Y') }}</td>
                <td><a href="{{ path('edit_link', {'id': link.id}) }}" alt="" title="Éditer le lien">Éditer</a> | <a href="" alt="" title="">Supprimer</a></td>
            </tr>
	{% endfor %}
        </tbody>
    </table>
{% endblock %}
