<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %} - LinksSite</title>

    {% block stylesheets %}
        {# On charge le CSS de bootstrap depuis le site directement #}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">
    {% endblock %}
</head>

<body>
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('home') }}">LinksSite</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li {% if app.request.get('_route') == 'home' %} class="active"{% endif %}><a href="{{ path('home') }}">Accueil</a></li>
                <!-- Si l'utilisateur est connecté, on affiche un lien pour consulter ses liens, ajouter un lien et pour se déconnecter -->
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <li {% if app.request.get('_route') == 'links' %} class="active"{% endif %}><a href="{{ path('links') }}">Vos liens</a></li>
                    <li {% if app.request.get('_route') == 'add_link' %} class="active"{% endif %}><a href="{{ path('add_link') }}">Ajouter un lien</a></li>
                    <li {% if app.request.get('_route') == 'logout' %} class="active"{% endif %}><a href="{{ path('logout') }}">Se déconnecter</a></li>
                {% else %}
                    <!-- Sinon, on affiche un lien de connexion/d'inscription -->
                    <li {% if app.request.get('_route') == 'login' %} class="active"{% endif %}><a href="{{ path('login') }}">Se connecter</a></li>
                    <li><a href="{{ path('signup') }}">S'inscrire</a></li>
                    <li>{% include ':links:_search.html.twig' %}</li>
                {% endif %}
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container main-container">
{% block body %}
{% endblock %}
</div>

<footer>
    <div class="container">
        <p>Project made by G. Aurore &amp; B. Jérôme © {{ 'now'|date('Y') }} and beyond.</p>
    </div>
</footer>

{% block javascripts %}
    {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
{% endblock %}

</body>
</html>
